@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body {
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho {
   display: flex;
   justify-content: space-between; /*A propriedade "Justify-content" mexe com os elementos no eixo horizontal. Alguns valores aceitos: flex-start(valor padrão), flex-end, center, space-around, space-evenly e space-between.*/
   align-items: center; /*O "align-items" mexe com os elementos no eixo vertical. Alguns valores aceitos: flex-start, flex-end, center e stretch(valor padrão). O "stretch" faz todos os elementos ocuparem a mesma altura do flex-container.*/
   background-color: #15191C;
   padding: 8px 16px; /*Quando só tem dois valores assim o primeiro valor fica em cima e embaixo, o segundo valor corresponde às laterais.*/
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu i::before {
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before {
    content: "\e906";
    font-size: 24px;
}

.cabecalho__logo {
    width: 40px;
}

.menu-lateral {
    display: flex; /*Adicionando o "display: flex" nessa classe "menu-lateral" eu estou tornando o menu lateral em um flex container.*/
    flex-direction: column; /*Uso porque eu quero que os elementos fiquem um abaixo do outro no menu lateral*/
    background-color: #15191C;
    width: 75vw; /*Ele vai ter uma largura de 75vw e esse "vw" é de viewport*/
    height: 100vh; /*Altura do viewport(por isso o v de viewport e h de height)*/

    position: absolute;  /*nós vamos transformar esse menu lateral com o posicionamento absoluto e esconder ele da tela.*/
    left: -100vw;  /*É para esconder a tela, posso colocar um tamanho negativo alto. O vw é por conta do valor do width que eu defini como vw (o w é de width)*/
    /*Esses dois são para esconder o menu lateral.*/
}

.menu-lateral--ativo {  /*Se eu não fizer essa parte o menu vai ficar todo escondido e não é isso que queremos. Quero que ele apareça ao ser clicado.*/
    left: 0;  /*Quando eu clicar no hambúguer ele vai voltar, por isso fica na posição 0, que é a inicial.*/ 
/*Mas só isso não é suficiente para movimentar, colocando essa parte o menu voltará a ser exibido, mas eu preciso que ele movimente e isso é com JS.*/
    transition: .25s;  /*É para quando clicarmos não ficar tão duro a mudança do menu lateral.*/

}
.menu-lateral__logo {
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999C; 
    padding-left: 64px;
    display: flex; /*estamos transformando o nosso link em um flex container, isso acontece porque temos essa possibilidade ao trabalhar com o pseudo-elemento e vamos remanejar ele dentro depois.*/
    align-items: center;
}

.menu-lateral__link--ativo { /*Colocando isso para quando o mouse estiver por cima ficar diferente visualmente.*/
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before { /*adcionando os ícones com o pseudo-elemento "before". "::before" cria um pseudo-elemento que é o primeiro filho do elemento atingido. É frequentemente utilizado para adicionar conteúdo decorativo à um element utilizando a propriedade content. Este elemento é inline por padrão.*/
    content: "";   /*precisamos sempre ter o content. No nosso caso, vai ficar o código do ícone*/
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;  /*Para deixar o ícone "flutuando".*/
    left: 24px;  /*Já quero que ele flutue, mas à esquerda.*/

}
.menu-lateral__link--inicio::before { /*Precisei criar mais essa class no HTML porque preciso modificar cada item com um content diferente.*/
    content: "\e902";
}

.menu-lateral__link--videos::before { /*Lembrando que eu tenho que colocar o pseudo-elemento "::before" porque quero que o ícone apareça antes*/
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\e903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}